body
{
  background-image: url(../imagenes/michael.jpg);
  margin:10px auto;
  width:80%;
}

  header>h1
{
  letter-spacing: 10px; /*Espacio entre letras*/
  text-transform: uppercase;/*transformacion del texto a mayusculas*/
  font-weight: bold; /*fuentes en negritas*/
  text-align: center;/*alineacion del texto*/
  text-shadow: rgc(13, 233, 174) 6px 6px 8px; /*Los 3 nimeros indican la distancia horizontal, vertical, y  el defuminado de la sombra*/
}
.logo-left
{
  float: left;
  padding: 20px 0px 0px 20px; */ Superior, derecho, inferior, izquierdo*/
  width: 120px;
  height: 120px;
}
.logo-right
{
  float: right;
  padding: 20px 20px 0px 20px;
  width: 120px;
  height: 120px;
}
header
{
  width: 100%;
  overflow: hidden;
  background-color: #124709;
  margin-bottom: 0px;
  padding: 0px;
  border-right: 25px 25px 0px 0px;
  border-style: none;
}
.contenedor
{
  padding: 10px 20px 10px 20px;
  background: rgba(255, 255, 255, 0.67);
  border-radius: 2em;
  box-shadow: 0px 5px 3px rgba(0,0,0, .4);
}
nav
{
  display: block;
  width: 100%;
  text-align: center;
}
nav ul
{
  list-style: none;
}
nav li
{
display: inline-block;
margin-right: 2px;
margin-top: 0.2em;
}
section
{
  float: left;
  width: 70%;
  text-align: justify;
  margin-top: 10px;
}
article
{
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #4f2093;
}
.boton
{
background-color: #7f8c8d;
color:#181394;
display: inline-block;
font-size: 1em;
margin: 5px;
padding: 10px 0px;
text-align: center;
width: 140px;
text-decoration: none;
box-shadow: 0px 3px 5px #373c3c;
}
.boton.redondo
{
  border-radius: 30px;
}
.boton.rojo
{
  background-color: rgb(207, 51, 30);
  box-shadow: 0px 3px 5px #564897;
}
.boton:hover/*cambio de color al pasar sobre el objeto*/
{
  background-color: rgb(250, 8, 6);
  box-shadow: 0px 3px 5px rgb(520, 152, 132);
  padding-top: 7px;
  color:#ffff;
}
aside
{
  float: right;
  width: 30%;
  text-align: justify;
  margin-top: 0px;
}
blockquote
{
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #630cc4;
}
footer
{
  width:100%;
  overflow: hidden;
  background-color: #124709;
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 0px 0px 25px 25px;
  border-style: none;
}
.izquierda
{
  float: left;
}
.derecha
{
  float: right;
  padding-right: 20px;
}
footer>p
{
  text-align: center;
  color: rgb(2, 74, 20);
  font-size: 10px;
}
.botonredes
{
  display: inline-flex;
  width: 15px;
  height: 15px;
  padding: 10px;
  background-color: rgb(37, 237, 187);
  border-radius: 100%;
}
.botonredes img
{
  width: 15px;
  height: 15px;
}
.enlace-footer
{
  font-size: 10px;
  color: rgb(37, 237, 187);
  padding-right: 5px;
  text-decoration: none;
}
.enlace-footer:hover
{
  color: rgb(37, 237, 187);
  text-shadow: 0px 0px 5px rgb(37, 237, 187);
  text-decoration: underline;
}
table
{
  width: 90%;
  margin: auto;
}
th.titulo
{
  height: 50px;
}
td.center
{
  text-align: center;
  vertical-align: middle;
}
td
{
  padding: 5px;
}
tr:nth-child(odd)
{
  background-color: #cfb7fc;
}
tr:nth-child(even)
{
  background-color: rgba(244, 234, 249, 0);
}
